.timestamp {
  color: #f53eec; }

.log-level {
  color: yellowgreen; }

code {
  color: #5888cf; }

body {
  background-color: #111417 !important;
  color: rgba(255, 255, 255, 0.9) !important;
  font-family: "Roboto Condensed", sans-serif !important; }

.row-centered {
  text-align: center; }

.col-centered {
  display: inline-block;
  float: none;
  margin-right: -4px;
  text-align: center; }

.title {
  font-family: "Barlow Condensed", sans-serif !important;
  font-size: 4.5em;
  color: white; }

.jumbotron {
  background-color: transparent !important;
  min-height: 700px; }

.container > iframe {
  margin: 0 1%; }

.jumbotron > .container {
  display: flex;
  flex-direction: column;
  height: 100%; }

.row-footer {
  flex: 1;
  align-items: flex-end; }

#buildToolsContent pre {
  color: whitesmoke; }

.tab-content > .active {
  border: 1px solid #3c4752;
  border-radius: 0 0 0.5em 0.5em;
  border-top: transparent; }

pre {
  margin: 0; }

#build-tools-links {
  max-width: 800px;
  min-height: 10em; }

.source-code-row {
  line-height: 1.7em;
  border: 1px solid #3c4752;
  border-radius: 1em;
  background-color: #181c20; }

.annotation[data-toggle="tooltip"] {
  border-bottom: 2px solid #2e3f5099;
  padding-bottom: 5px;
  cursor: pointer; }

#features-tab, #features-tabContent {
  width: 49.7%; }

.nav-link {
  outline: none; }

#features-tab {
  border-bottom: none;
  background-color: #0f2531; }
  #features-tab .nav-link {
    background: transparent;
    border: none;
    color: inherit;
    text-align: right;
    padding-right: 10px;
    padding-left: 10px; }
  #features-tab .nav-link.active {
    color: #007bff;
    background-color: #0a1921; }
  #features-tab .nav-link {
    border-radius: 0; }

#features-tabContent {
  font-family: 'Anonymous Pro', monospace;
  font-size: 0.9em;
  line-height: 1.6em;
  background-color: #0e1920; }
  #features-tabContent .tab-pane {
    border: none; }

#features-tabContent pre {
  background: none; }

#features-tab .nav-link {
  padding-top: 0.4em !important;
  padding-bottom: 0.7em !important; }
#features-tab .nav-link:hover {
  background-color: #0e1920; }

#feature-1-home.active {
  margin-top: 1em; }

#feature-2-home.active {
  margin-top: 0; }

#feature-3-home.active {
  margin-top: 2em; }

#feature-4-home.active {
  margin-top: 10em; }

#feature-5-home.active {
  margin-top: 14em; }

#feature-6-home.active {
  margin-top: 19.4em; }

#feature-7-home.active {
  margin-top: 20em; }

#feature-8-home.active {
  margin-top: 26.8em; }

.highlight {
  border: 1px solid #337da6;
  padding: 0.2em;
  border-radius: 0.4em;
  background-color: #0f2531; }

.nav-cursor {
  display: none; }

.nav-cursor {
  cursor: pointer; }

@media (min-width: 768px) {
  .source-code-row {
    max-width: 80%;
    padding-left: 2.5em; }

  .jumbotron {
    max-height: 800px; } }
@media (max-width: 767.98px) {
  h5 {
    font-size: 1.8rem; }

  .nav-cursor {
    display: block; }

  #buildTools .nav-link:not(.active) {
    display: none; }

  #buildTools .nav-item:not(.active) {
    display: none; } }

/*# sourceMappingURL=style.css.map */
