@import "logs-syntax-highlight";

$text-color: rgba(255, 255, 255, 0.9);
$primary-color: rgba(17, 20, 23, 1);
$secondary-color: rgba(15, 37, 49, 1);
$primary-font: 'Roboto Condensed', sans-serif;

$title-font: 'Barlow Condensed', sans-serif;

$jumbotron-min-height: 700px;
$jumbotron-max-height: 800px;

body {
  background-color: $primary-color !important;
  color: $text-color !important;
  font-family: $primary-font !important;
}

.row-centered {
  text-align: center;
}

.col-centered {
  display: inline-block;
  float: none;
  margin-right: -4px;
  text-align: center;
}

.title {
  font-family: $title-font !important;
  font-size: 4.5em;
  color: white;
}

.jumbotron {
  background-color: transparent !important;
  height: 100vh;
  max-height: $jumbotron-max-height;
  min-height: $jumbotron-min-height;
}

// for adjusting github buttons spacing
.container > iframe {
  margin: 0 1%;
}

.jumbotron > .container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.row-footer {
  flex: 1;
  align-items: flex-end;
}

#buildToolsContent pre {
  color: whitesmoke;
}

.tab-content > .active {
  border: 1px solid lighten($primary-color, 20%);
  border-radius: 0 0 0.5em 0.5em;
  border-top: transparent;
}

pre {
  margin: 0;
}

#build-tools-links {
  max-width: 800px;
  min-height: 10em;
}

.source-code-row {
  padding: 8em 0 8em 2.5em;
  line-height: 1.7em;
  border: 1px solid lighten($primary-color, 20%);
  border-radius: 1em;
  background-color: lighten($primary-color, 3%);
}

.annotation[data-toggle="tooltip"] {
  border-bottom: 2px solid #2e3f5099;
  padding-bottom: 5px;
  cursor: pointer;
}

#features-tab, #features-tabContent {
  width: 49.7%;
}

.nav-link {
  outline: none;
}

#features-tab {
  border-bottom: none;
  background-color: $secondary-color;

  .nav-link {
    background: transparent;
    border: none;
    color: inherit;
    text-align: right;
    padding-right: 10px;
    padding-left: 10px;
  }

  .nav-link.active {
    color: #007bff;
    background-color: darken($secondary-color, 4%);
  }

  .nav-link {
    border-radius: 0;
  }
}

#features-tabContent {
  font-family: 'Anonymous Pro', monospace;
  font-size: 0.9em;
  line-height: 1.6em;
  background-color: #0e1920;

  .tab-pane {
    border: none;
  }
}

#features-tabContent pre {
  background: none;
}

#features-tab {
  .nav-link {
    padding-top: 0.4em !important;
    padding-bottom: 0.7em !important;
  }

  .nav-link:hover {
    background-color: #0e1920;
  }
}

#feature-1-home.active {
  margin-top: 1em;
}

#feature-2-home.active {
  margin-top: 0;
}

#feature-3-home.active {
  margin-top: 2em;
}

#feature-4-home.active {
  margin-top: 10em;
}

#feature-5-home.active {
  margin-top: 14em;
}

#feature-6-home.active {
  margin-top: 19.4em;
}

#feature-7-home.active {
  margin-top: 20em;
}

#feature-8-home.active {
  margin-top: 26.8em;
}

.highlight {
  border: 1px solid lighten($secondary-color, 30%);
  padding: 0.2em;
  border-radius: 0.4em;
  background-color: $secondary-color;
}